@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

section {
  font-family: 'Quicksand', Tahoma, Verdana, sans-serif!important;
  font: 1rem/1.5 var(--bs-font-sans-serif);
}

a {
  color: var(--bs-blue);
}
